[submodule "DevOps-Mastery/Phase-01-Automation/server-health-monitor"]
	path = DevOps-Mastery/Phase-01-Automation/server-health-monitor
	url = https://github.com/debanjan-bhuinya/server-health-monitor.git
